<div class="receipt">
 <h2>Skeet's Red Hots</h2>
 <p>1313 Mockingbird Lane,
 Alphaville, NY
 777.777.7777</p>


<h6>
  <%= Time.now.strftime(" %m/%d/%Y at %I:%M%p") %>
</h6>

<table>
  <tr>
    <th>
      Orders
    </th>
    <th>
      Price
    </th>
  </tr>
  <% total = 0 %>
  <% @party.foods.each do |food| %> 
    <tr>
      <td>
        <%= food.name %>
      </td>
      <td>
        $<%= food.price.round(2) %>
      </td>
    </tr>
  <% total += food.price %> 
  <% end %>
  <tr>
    <th>
      TOTAL
    </th>
    <th>
      $<%= total.round(2) %>
    </th>
  </tr>
  <tr>
    <th>
      Tip Suggestions
    </th>
  </tr> 
  <tr>
    <td>
      15% = $<%= (total * 0.15).round(2) %>
    </td>
    <td>
      20% = $<%= (total * 0.20).round(2) %>
    </td>
    <td>
      25% = $<%= (total * 0.25).round(2) %>
    </td>
  </tr>
</table>

<h4>Thanks for coming to Skeet's. See you soon!</h4> 
</div>

<form action="javascript:if(window.print)window.print()" method="get">
  <input type="submit" value="Print Receipt">
</form> 





<form action='/parties/<%=@party.id%>/checkout' method="get">
  <input type="submit" value="Checkout">
</form> 
