<h2> <%= @item.name %></h2>

<h1> A <%= @item.cuisine %> dish brought to you at the low price of <%= @item.price%></h1>
<h1> Orders Pending: <%= @item.orders %></h1>




<a href="/parties/<%= @party.id %>/edit">Edit this item?</a>



<form action="/parties/<%= @item.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Remove">
</form>

