

<h2> <%= @item.name %>  :  <%= @item.cuisine%>  :  $<%= @item.price%></h2>
<h3> Orders Pending: <%= @item.orders %></h3>

<a href="/foods/<%= @item.id %>/edit">Edit this item?</a>

<form action="/foods/<%= @item.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Remove From Menu">
</form>

