

<h2><%= @party.table_number %> ... party of <%= @party.size %></h2> 
  

<h1> Paid bill?: <%= @party.paid %> </h1>

 <ul>
  <% @orders.each do |order| %>
  <li>
  <form action="/orders" method='post'/>
  <input type="hidden" name="_method" value="delete"/>
  <input type="hidden" name="order_id" value="<%= order.id %>">
  <input type="hidden" name="party_id" value="<%= order.party_id %>">
  <h3> <input type="submit" value='X'/> <%= order.food.name %> </h3>
  </form>
  </li> 
  <% end %>
  </ul>



<a href="/parties/<%= @party.id %>/edit">Edit this party?</a>

<h2>Add item </h2>
<form action="/orders" method= "post">
  <input type="text" name="food" value="Menu Item">
  <input type="text" name="party_id" value="<%= @party.id %>"> <!-- make @party.id hidden-->
  <input type="submit">
</form>



<form action="/parties/<%= @party.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form> 


<h2><%= @party.table_number %> ... party of <%= @party.size %></h2> 


  